{% extends "app/layout.html" %}
{% block content %}

<h1 class="header">CarNews: Новости мира автотранспорта</h1>
<p class="top_images">
    <img id="fin1" src="/NewsSite/fin2.png" alt="">
    <img id="auto" src="/NewsSite/auto3.jpg" alt="">
    <img id="fin2" src="/NewsSite/fin.png" alt="">
</p>
<h2 class="news">Последние новости:</h2>

<div class="block">
    <div class="item1">
        <img id="lada" src="/NewsSite/lada.jpg" alt="">
        <p>АВТОВАЗ поднимает цены на автомобили Lada и просит господдержки</p>
        <a href="/NewsSite/lada.html">Читать далее...</a>
    </div>

    <div class="item2">
        <img id="smart" src="/NewsSite/smart.jpg" alt="">
        <p>Smart fortwo: прощальная версия на фоне падения продаж и проблем с поставками</p>
        <a href="/NewsSite/smart.html">Читать далее...</a>
    </div>

    <div class="item3">
        <img id="volks" src="/NewsSite/volks.jpg" alt="">
        <p>«Заряженная» версия Volkswagen ID.2 придёт на смену «хот-хэтчу» Golf R</p>
        <a href="/NewsSite/volks.html">Читать далее...</a>
    </div>

    <div class="item4">
        <img id="chery" src="/NewsSite/chery.jpg" alt="">
        <p>Флагманский кроссовер Chery Tiggo 9 полностью рассекречен, ждём в России</p>
        <a href="/NewsSite/chery.html">Читать далее...</a>
    </div>
</div>

<img id="bottom" src="/NewsSite/bottom.jpg" alt="">
{% endblock %}
